/*/bin
/**/.CACHED_FILE_GENERATED_BY_CLEARCASE_EVILTWIN_TRIGGER.txt
/*/bundles
/*/target
/*/*/target
/*/ebay.log
/*/.settings
/*/.classpath
/external/*/.settings
/external/*/.classpath
/external/*/.project
/.classpath
/.project
/*/.project
/*/.external*
/*/test-output
/.settings/
/*/.idea
/*/*.iml
.idea
*.iml
/*/temp_*.xml
/*/.settings
/*/var
/.metadata/
