body {
	background-color: #F1F9D5 ;
	background-image: none;
	font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;/*typography*/	
	padding: 0px;
	margin: 0px;
}

.logo{
    width: 100%;;
 /*    background-color: #D6EB99; 
    background: -moz-linear-gradient(center top , #D6EB99, #70b42d) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
background: #f8ffe8; /* Old browsers */
background: -moz-linear-gradient(left,  #f8ffe8 0%, #b7df2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f8ffe8), color-stop(100%,#b7df2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #f8ffe8 0%,#b7df2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #f8ffe8 0%,#b7df2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #f8ffe8 0%,#b7df2d 100%); /* IE10+ */
background: linear-gradient(to right,  #f8ffe8 0%,#b7df2d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 */

    padding: 40px;
}

.tl{
	font-size: 50px;
	margin-bottom: 0;
	font-family: Montserrat,Arial,sans-serif;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
	color:#00e;
	font-size:2.5em;
	letter-spacing:-.05em;
}

.intro{
	/* background: #024a89; */
	background: #003366;
	color: #fff;
	font-size: 18px;
	padding: 10px 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
	line-height: 150%;
	width: 100%;
}
.extl{
	margin-top: 20px;
	padding-left: 20px;
	color: #495912;
	font-size: 22px;
}
#lst ol { font-style:italic; font-family:Georgia, Times, serif; font-size:18px; color:#00509d;  }
#lst ol li { }
#lst ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#0079bc; border-left: 1px solid #999; }
#lst ol li p em { display:block; font-size: 16px;}
#lst ol li p em a {color:#0079bc; text-decoration: none;}

.bgcnt{
	font-family: Arial, Sans-serif;
	font-size: 14px;
	padding: 10px;
	line-height: 150%;
}

.wrapper{
	margin: auto; 
	width: 80%;
}
.fdhr {
    background: -moz-linear-gradient(left center , rgba(200, 200, 200, 0.1) 0px, rgba(120, 120, 120, 0.5) 30%, rgba(120, 120, 120, 0.5) 65%, rgba(200, 200, 200, 0.1) 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 1px;
    margin: 20px 0;
    width: 98%;
}

.wrapper .intro{
	font-size: 16px;
}

.wrapper .extl{
	font-size: 22px;
	padding-left: 0px;
}

input#btnAjax {
	padding: 4px 20px;
	/*give the background a gradient*/
	background:#ffae00; /*fallback for browsers that don't support gradients*/
	background: -webkit-linear-gradient(top, #ffae00, #d67600);
	background: -moz-linear-gradient(top, #ffae00, #d67600);
	background: -o-linear-gradient(top, #ffae00, #d67600);
	background: linear-gradient(top, #ffae00, #d67600);
	border:2px outset #dad9d8;
	/*style the text*/
	font-family:Andika, Arial, sans-serif; /*Andkia is available at http://www.google.com/webfonts/specimen/Andika*/
	font-size:1.1em;
	letter-spacing:0.05em;
	text-transform:uppercase;
	color:#fff;
	text-shadow: 0px 1px 10px #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
	box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
}
/****NOW STYLE THE BUTTON'S HOVER STATE***/
input#btnAjax:hover, input#btnAjax:focus {
	border:2px solid #dad9d8;
}